version: '3.8'

services:
  krisflyer-bot:
    build: .
    container_name: krisflyer_bot
    restart: unless-stopped
    volumes:
      - bot_data:/data
    environment:
      - DISCORD_TOKEN=${DISCORD_TOKEN}
      - CLIENT_ID=${CLIENT_ID}
      - GUILD_ID=${GUILD_ID}

volumes:
  bot_data:
